html,
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
  font-family: 'Satoshi';
  font-weight: 400;
}

.container {
  max-width: 1440px !important;
}

/* Base font styles for the document */
html {
  font-size: 16px; /* Default root font size */
  line-height: 1.5rem; /* Base line height for readability */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -2%;
}

/* fluid typography for auto adjustment across screen sizes */

h1 {
  font-size: clamp(2.8rem, 6vw, 4.5rem);
  line-height: clamp(3.7rem, 7.5vw, 5.625rem);
}

h2 {
  font-size: clamp(2.4rem, 5vw, 3.75rem);
  line-height: clamp(2.9rem, 6vw, 4.5rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: clamp(2.4rem, 5vw, 3.75rem);
}

h4 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  line-height: clamp(1.4rem, 3.5vw, 2.25rem);
}

h5 {
  font-size: clamp(1.25rem, 2.5vw, 1.875rem);
  line-height: clamp(1.55rem, 3vw, 2.375rem);
}

h6 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: clamp(1.3rem, 2.8vw, 2rem);
}
