@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  form,
  label,
  input,
  select,
  select option {
    font-family: 'Inter';
    font-size: 14px;
    @apply text-brandDeepGray700;
    @apply bg-transparent;
    @apply border-gray-300;
  }

  /* Typography */
  h1 {
    @apply text-[clamp(1.875rem,_5vw,_4rem)];
    @apply leading-tight;
  }

  h2 {
    @apply text-[clamp(1.5rem,_4vw,_3.2rem)];
    @apply leading-tight;
  }

  h3 {
    @apply text-[clamp(1.25rem,_3vw,_2.4rem)];
    @apply leading-tight;
  }

  h4 {
    @apply text-[clamp(1.125rem,_2.5vw,_2rem)];
    @apply leading-snug;
  }

  h5 {
    @apply text-[clamp(1rem,_2vw,_1.6rem)];
    @apply leading-snug;
    @apply font-semibold;
  }

  h6 {
    @apply text-[clamp(1rem,_2vw,_1.2rem)];
    @apply leading-snug;
    @apply font-semibold;
  }

  p, li, button, div, span, article, section {
    @apply text-[clamp(1rem,_2vw,_1.2rem)];
    @apply leading-snug;
  }

  small {
    @apply text-[clamp(0.875rem,_1.75vw,_1rem)];
    @apply leading-snug;
  }
}

@layer utilities {
  .bg-home-hero {
    background-image: url('../assets/images/estate-hero-bg.png');
    background-size: cover;
    background-position: center bottom;
  }

  .bg-estate-hero {
    background-image: url('../assets/images/aerial-view-private-houses-with-solar-panels-roofs.jpg');
    background-size: cover;
    background-position: center bottom;
  }

  .inner-container {
    @apply w-[90%];
    @apply xllaptop:w-[83%];
  }

  .bg-e-for-techies {
    background-image: url('../assets/images/estate-for-techies-aerial-view-private-houses-with-solar-panels-roofs.png');
    background-size: cover;
  }

  .bg-home-contact {
    background-image: url('../assets/images/contactImg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }

  /* About page */
  .bg-metrics {
    background-image: url('../assets//images//metrics-bg-lg-cropped.jpg');
    background-size: cover;
    @apply max-laptop:bg-center;
  }
}
