@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  background-image: url('../assets/images/aerial-view-private-houses-with-solar-panels-roofs.jpg');
  background-size: cover;
}

.inner-container {
  width: 85%;
}

.bg-e-for-techies {
  background-image: url('../assets/images/estate-for-techies-aerial-view-private-houses-with-solar-panels-roofs.png');
  background-size: cover;
}

.bg-home-contact {
  background-image: url('../assets/images/contactImg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}