@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  background-image: url('../assets/images/aerial-view-private-houses-with-solar-panels-roofs.jpg');
  background-size: cover;
}

.inner-container {
  width: 85%;
}
